<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Unofficial YCombinator Company List</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="title" content="Unofficial List of YCombinator Companies"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/tablesorter.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("table").tablesorter({ headers: { 0: { sorter: false }}});
        $("form").each(function() {
            this.reset();
        });
        $("#checkbox_active").change(function() {
            ($(this).attr("checked")) ? $(".active").show() : $(".active").hide();
        });
        $("#checkbox_unknown").change(function() {
            ($(this).attr("checked")) ? $(".unknown").show() : $(".unknown").hide();
        });
        $("#checkbox_exited").change(function() {
            ($(this).attr("checked")) ? $(".exited").show() : $(".exited").hide();
        });
        $("#checkbox_dead").change(function() {
            ($(this).attr("checked")) ? $(".dead").show() : $(".dead").hide();
        });
    });
    </script>
    <style type="text/css">
    .small {
        font-size: 80%;
    }
    .dead {
        display: none;
    }
    .unknown {
        display: none;
    }
    </style>
</head>
<body>
    <div id="container">
    <form>
        <input id="checkbox_active" name="check" type="checkbox" checked/><span class="small">Show Active</span>
        &nbsp;|&nbsp;
        <input id="checkbox_exited" name="check" type="checkbox" checked/><span class="small">Show Exited</span>
        &nbsp;|&nbsp;
        <input id="checkbox_dead" name="check" type="checkbox"/><span class="small">Show Dead</span>
        &nbsp;|&nbsp;
        <input id="checkbox_unknown" name="check" type="checkbox"/><span class="small">Show Unknown</span>
    </form>
<table class="tablesorter">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th style="width: 70px">Class</th>
            <th style="width: 50px">Status</th>
            <th>URL</th>
            <th>Title</th>
            <th>Meta Desc</th>
            <th>Est Aq Price</th>
            <th>Notes</th>
            <th>Alexa</th>
            <th style="width: 30px">PR</th>
        </tr>
    </thead>
    <tbody>
    {%- for i,company,classes in companies -%}
        <tr class="{{ classes }}">
            <td><div style="width: 16px; height: 16px; background: url('/img/favicons.png'); background-position: -{{ 16 * i }}px 0px"></div></td>
            <td>{{ company.name }}</td>
            <td>{{ company.formatted_date() }}</td>
            {%- if company.exited -%}
                <td style="color: green; font-weight: bold">Exited</td>
            {%- elif company.dead -%}
                <td style="color: red; font-weight: bold">Dead</td>
            {%- else -%}
                <td></td>
            {%- endif -%}
            {%- if company.dead -%}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="color:white">99999999</td>
                <td></td>
            {%- else -%}
                <td><a href="{{ company.url }}">{{ company.url }}</a></td>
                {%- if company.title -%}
                    <td>{{ company.title }}</td>
                {%- else %}
                    <td></td>
                {%- endif -%}
                {%- if company.meta_desc -%}
                    <td>{{ company.meta_desc }}</td>
                {%- else %}
                    <td></td>
                {%- endif -%}
                <td>{{ company.formatted_aq_price() }}</td>
                <td>{{ company.notes }}</td>
                {%- if company.alexa > 0 -%}
                    <td>{{ company.alexa }}</td>
                {%- else -%}
                    <td style="color:white">99999999</td>
                {%- endif -%}
                <td>{{ company.pagerank if company.pagerank >= 0 or '' }}</td>
            {%- endif -%}

        </tr>
    {%- endfor -%}
    </tbody>
</table>
<p>Data imported from <a href="https://spreadsheets.google.com/ccc?key=t_toYuVyy6fci0MAiIaZ30A#gid=0">this spreadsheet</a>.</p>
<p>Last updated: 11/21/2010</p>
</div>
</body>
</html>
