<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Unofficial YCombinator Company List</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="title" content="Unofficial List of YCombinator Companies"/>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/tablesorter.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/media/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
            $("table").tablesorter();
    });
    </script>
</head>
<body>
<div id="container">
<table class="tablesorter">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th width="70px">Class</th>
            <th width="50px">Status</th>
            <th>URL</th>
            <th>Title</th>
            <th>Meta Desc</th>
            <th>Est Aq Price</th>
            <th>Alexa Rank</th>
            <th width="30px">PR</th>
        </tr>
    </thead>
    <tbody>
    {% for i,company in enumerate(companies) %}
        <tr>
            <!--<td>{% if company.favicon %}<img src="/media/img/{{ company.url[7:] }}/favicon.png"></img>{% endif %}</td>-->
            <td>{% if company.favicon %}<div style="width: 16px; height: 16px; background: url('/media/img/favicons.png'); background-position: -{{ 16 * i }}px 0px"></div>{% endif %}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.formatted_date() }}</td>
            {% if company.exited %}
                <td style="color: green">Exited</td>
            {% elif company.dead %}
                <td style="color: red">Dead</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if company.dead %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="color:white">99999999</td>
                <td></td>
            {% else %}
                <td><a href="{{ company.url }}">{{ company.url }}</a></td>
                <td>{{ company.formatted_title() }}</td>
                <td>{{ company.formatted_meta_desc() }}</td>
                <td>{{ company.formatted_aq_price() }}</td>
                {% if company.alexa > 0 %}
                    <td>{{ company.alexa }}</td>
                {% else %}
                    <td style="color:white">99999999</td>
                {% endif %}
                <td>{{ company.pagerank if company.pagerank >= 0 or '' }}</td>
            {% endif %}

        </tr>
    {% endfor %}
    </tbody>
</table>
<p>Data pulled from <a href="https://spreadsheets.google.com/ccc?key=t_toYuVyy6fci0MAiIaZ30A#gid=0">this spreadsheet</a></p>
<p>Last updated: 10/17/2010</p>
</div>
</body>
</html>
