//= require reset
//= require_tree .

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 40px 15px 0 15px;
  font-size: 11px;
  line-height: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  color: inherit;
  &:hover {
    opacity: 0.8;
  }
}

tr {
  &.dead > td {
    &:nth-child(3) {
      color: #ddd;
    }
    &:nth-child(5) {
      color: #f00000;
    }
  }
  &.exited {
    > td:nth-child(5) {
      color: #33cc00;
    }
    .annotation {
      color: #33cc00;
    }
  }
}

th {
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: bold;
  &.tablesorter-header {
    cursor: pointer;
  }
}

td {
  padding: 4px 0 4px 0;
  height: 16px;
  vertical-align: middle;
  &:nth-child(-n+3) {
    padding-right: 12px;
  }
  &.winter {
    color: #bbb;
  }
  &.fellowship {
    color: #2b6cc2;
  }
  &.summer {
    color: orange;
  }
}

input[type="text"] {
  width: 200px;
  padding: 3px;
  margin-right: 12px;
  border: 1px solid #ccc;
}

select {
  margin-right: 12px;
}

#sidebar {
  position: fixed;
  height: 100%;
  > div {
    position: relative;
    height: 100%;
  }
  .top {
    z-index: 3;
    background: white;
    position: relative;
  }
  .bottom {
    z-index: 2;
    color: #777;
    position: absolute;
    bottom: 60px;
  }
}

#companies {
  margin-left: 160px;
  margin-bottom: 50px;
}

.contributing {
  margin-top: 30px;
  line-height: 16px;

  a {
    color: rgba(100,100,100,0.6);
    &:hover {
      color: rgba(100,100,100,1);
    }
  }
}
