<!DOCTYPE html>
<html>
<head>
  <title>Y Combinator Company List</title>
  <meta name="description"
        content="Names and descriptions of companies funded by Y Combinator, a seed accelerator.">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%# javascript_include_tag "application" %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
</head>
<body>

  <%= yield %>

</body>
</html>
