<!DOCTYPE html>
<html>
<head>
  <title>Unofficial Y Combinator Company List</title>
  <meta name="description"
        content="Names and descriptions of companies funded by Y Combinator, a seed accelerator.">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <% if Rails.env.production? %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <% else %>
    <script src="/assets/jquery.js"></script>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>

  <%= yield %>

</body>
</html>
